<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <style>
      body {
        font-family: Roboto, sans-serif;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-weight: 400;
        margin: 0;
        padding: 0;
        background-color: #e5e5e5;
      }

      .content {
        padding: 16px;
      }
    </style>
  </head>
  <body>
    <div class="content">
      <p>
        Here are some demos of <code>&lt;kb-alert-link></code> custom element.
      </p>
      <p>
        For integration stream:
      </p>
      <p>
        <kb-alert-link integration="stream"></kb-alert-link>
      </p>
      <p>
        For non existing integration:
      </p>
      <p>
        <kb-alert-link integration="non-existing"></kb-alert-link>
      </p>
    </div>

    <script type="module" crossorigin="use-credentials">
      import "./{{ ce-alert-link }}";
    </script>
  </body>
</html>
