html {
    --primary-text-color: #212121;
    --secondary-text-color: #727272;
    --primary-background-color: #fafafa;
    --secondary-background-color: #ffffff;
    --divider-color: rgba(0, 0, 0, 0.12);
    --primary-color: #03a9f4;
  }
  
  @media (prefers-color-scheme: dark) {
    html {
      --primary-text-color: #e1e1e1;
      --secondary-text-color: #9b9b9b;
      --primary-background-color: #111111;
      --secondary-background-color: #202020;
      --divider-color: rgba(225, 225, 225, 0.12);
    }
  }

  h2 {
    font-weight: 400;
  }
  
  body {
    font-family: "Segoe UI", Roboto, sans-serif;
    font-size: 1em;
    font-weight: 400;
    padding: 0;
    margin: 0;
    line-height: 1.4;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color);
  }
  
  a {
    color: var(--primary-color);
    text-decoration: none;
  }
  
  .nav-title {
    color: var(--primary-text-color) !important;
    font-size: 3em;
  }
  
  .content {
    display: flex;
    margin: 32px 0;
  }
  
  .container {
    margin: 0 auto;
    padding: 16px 8px;
    max-width: 1000px;
  }
  
  .footer {
    margin-top: 24px;
    border-top: 1px solid var(--divider-color);
    padding-top: 24px;
    text-align: center;
  }
  
  .footer > * {
    white-space: nowrap;
  }
  
  .footer .initiative {
    font-style: italic;
    margin-top: 16px;
  }
  
  .note {
    color: var(--secondary-text-color);
    font-style: italic;
    margin-top: 8px;
    margin-bottom: 32px;
  }

  .alert-card {
    color: var(--primary-text-color) !important;
    border-radius: 4px;
    border: 1px solid var(--divider-color);
    background-color: var( --secondary-background-color);
    padding: 0 16px 8px;
    margin-bottom: 16px;
  }

  .alert-card-footer {
    display: flex;
  }

  .alert-card-footer .date {
    color: var(--secondary-text-color) !important;
    margin-right: 12px;
  }

  .alert-card-footer .integration {
    color: #ffffff !important;
    background-color: #e91e63;
    border-radius: 4px;
    margin: 0px 4px;
    padding: 0px 4px;
    text-transform: uppercase;
  }

  .integration-logo {
    height: 12px;
  }

  .alert-card-footer .package {
    color: #ffffff !important;
    background-color: #009688;
    border-radius: 4px;
    margin: 0px 4px;
    padding: 0px 4px;
    text-transform: uppercase;
  }

  .nav-bar a {
    display: flex;
    align-items: center;
  }
  
  .nav-bar img {
    height: 48px;
    margin-right: 24px;
  }

  .alert-contents {
    width: 100%;
  }

  .alert-contents h2:first-of-type {
    font-weight: 600;
  }

  .back-btn {
    margin-bottom: 12px;
    display: block;
  }

  .alert-sidebar > div > span:first-of-type {
    font-weight: bold;
    margin-right: 4px;
    line-height: 2em;
  }

  .alert-sidebar {
    width: 330px;
    margin-left: 32px;
  }

  .edit-on-github {
    margin-top: 24px;
    display: block;
  }

  @media screen and (max-width: 500px) {
    body {
      font-size: 0.8em;
    }

    .nav-bar {
      margin-top: 4px;
    }
  
    .container {
      padding: 0 8px;
    }
  
    .serperator {
      display: none;
    }

    .content {
      flex-direction: column;
    }
    .alert-contents, .alert-sidebar {
      width: 100%;
      margin: 0
    }
  }